<footer class="site-footer h-card bg-primary">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading text-white">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name text-white">
            I'm also an artist, pianist, coder, writer and gardener. I'd love to hear from you.
          </li>
          {%- if site.email -%}
          <li><a class="u-email text-white" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2 text-white">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3 text-white">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
