<header class="site-header mb-3" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Henry van Wagenberg</a>
      <div class="container-md">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="about-tab" href="/about#about-tab">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Projects</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://baugarten.app">Baugarten Algebra Game</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://www.StoicPenknife.com">Stoic Penknife</a></li>
              <li><a class="dropdown-item" href="/projects/office.html">Berlin Office Community</a></li>
              <li><a class="dropdown-item" href="https://baugarten.io">Freelance Web Dev</a></li>
              <li><a class="dropdown-item" href="/projects/wohngemeinschaft.html">DD Wohngemeinschaft</a></li>
              <li><a class="dropdown-item" href="/projects/salons.html">Philosophy Salons</a></li>
              <li><a class="dropdown-item" href="/projects/ratemystudyabroad.html">RateMyStudyAbroad</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="writing-tab" href="/writing.html#writing-tab">Writing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/interviews.html">Interviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/music.html">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/drawing.html">Drawing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quotes_i_like.html">Quotes I Like</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
