
//Override Bootstrap variables - before adding bootstrap
//Fonts
$font-size-base: 1.15rem !default; // Assumes the browser default, typically `16px`
$gray-600: #ced4da !default;
$text-muted: $gray-600 !default;
//Colors
$blue: #3DA5D9 !default;
$indigo: #2364AA !default; // dark-blue
$red: #EF3E36 !default; // 124 red
$orange: #EA7317 !default; // 166 orange
$yellow: #FEC601 !default; // 214 yellow
$green: #A8C69F !default; // 106 green
$black: #3a3335 !default; //coffee black

@import "minima";
@import "bootstrap/bootstrap";


.bg-black {
  background-color: $black;
}

.bg-orange {
  background-color: $orange;
}
.bg-indigo {
  background-color: $indigo;
}
.nav-link.active,
.nav-item.show .nav-link {
  color: $nav-tabs-link-active-color !important;
  background-color: $nav-tabs-link-active-bg !important;
  border-color: $nav-tabs-link-active-border-color !important;
}

.nav-link.nav-blue,
.nav-item.show .nav-link {
  background-color: $blue;
  color: $white;
  border-color: $blue;
}

.nav-link.nav-indigo,
.nav-item.show .nav-link {
  background-color: $indigo;
  color: $white;
  border-color: $indigo;
}

.nav-link.nav-red,
.nav-item.show .nav-link {
  background-color: $red;
  color: $white;
  border-color: $red;
}

.nav-link.nav-orange,
.nav-item.show .nav-link {
  background-color: $orange;
  color: $white;
  border-color: $orange;
}

.nav-link.nav-yellow,
.nav-item.show .nav-link {
  background-color: $yellow;
  color: $white;
  border-color: $yellow;
}

.nav-link.nav-green,
.nav-item.show .nav-link {
  background-color: $green;
  color: $white;
  border-color: $green;
}

.nav-link.nav-black,
.nav-item.show .nav-link {
  background-color: $black;
  color: $white;
  border-color: $black;
}

@font-face {
  font-family: "bigjohn";
  src: url("/assets/fonts/BigJohnPRO-Regular.otf");
}

.page-content {
  padding-top: 5px;
}

.wrapper {
  @media only screen 
  and (min-width : 1224px) {
    max-width: 75%;
  }

}

.nav,
.navbar{
  a:hover 
  {
    text-decoration: none;
  }
}

.navbar{
padding-bottom: 0;
}

body {
  font-family: "bigjohn", bigjohn;
}


@media (min-width: 1200px){
  .position_cv_dates {
    position: absolute;
      property: right;
      class: end;
      //values: $position-values;
  //Pseudocode what I want
  //Desktop card-text position-absolute top-0 end-0 mt-1 me-3

  //Mobile d-flex flex-row-reverse me-4
  }
}

.homepage {
  background-image: url("/assets/images/henry_van_wagenberg.jpg"); /* fallback */
  //background-color: rgba(221, 77, 65, 0.35); /* use rgba for fine adjustments */
  background-size:cover;

  background-blend-mode: multiply;
}

